<div class="tpbv">
<table id="table" style="width:100%">
    <thead>
        <tr>
            <th class="">#</th>
            <th class="anim:update anim:sort anim:id">Aktionen</th>
            <th class="anim:id">Seite</th>
            <th class="anim:constant">Verweildauer</th>
        </tr>
    </thead>
    <tbody id="tpbv-tbody">
    </tbody>
</table>
</div>
<script type="text/javascript">$(document).ready(function () {require('piwik/TopPagesByVisits').initTopPagesByVisitsWidget({{ refreshInterval }});});</script>
