<div class="demo">
<table id="table">
    <thead>
        <tr>
            <th class="">Position</th>
            <th class="anim:update anim:sort anim:id">Aktionen</th>
            <th class="anim:id">Seite</th>
            <th class="anim:constant">Verweildauer</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
</div>
<script type="text/javascript">$(document).ready(function () {require('piwik/TopPagesByVisits').initTopPagesByVisitsWidget(10);});</script>
