<div class="tpbv">
<table id="table" style="width:98%" class="dataTable">
    <thead>
        <tr>
            <th class="anim:position sortable"><div id="thDIV" class="thDIV">#</div></th>
            <th class="anim:constant sortable">&nbsp;</th>
            <th class="anim:update anim:sort anim:id sortable"><div id="thDIV" class="thDIV">Aktionen</div></th>
            <th class="anim:id sortable" style="width:100%">Seite</th>
            <th class="anim:constant sortable">Verweildauer</th>
        </tr>
    </thead>
    <tbody id="tpbv-tbody">
    </tbody>
</table>
</div>
<script type="text/javascript">$(document).ready(function () {require('piwik/TopPagesByActions').initTopPagesByActionsWidget({{ refreshInterval }}, {{ numberOfEntries }});});</script>
