<div class="tpbv">
<table class="tableSorter dataTable">
    <tr>
      <th>&nbsp;</th>
      <th>Aktionen</th>
      <th>Seite</th>
      <th>Verweildauer</th>
    </tr>
</table>
</div>
<script type="text/javascript">
  $(document).ready(function () {
    require('piwik/TopPagesByActions').initTopPagesByActionsWidget({{ refreshInterval }}, {{ numberOfEntries }});
    $('table.tableSorter').tableSort();
  });
</script>
